*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.mainDiv{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  height: auto;
  padding: 2rem;
  width: auto;
  background-color: #002A3C;
}


.outputScreen{
  padding: 3rem 0 4rem 8rem;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.outputScreen input{
  /* color: #EBF2FA;
  font-size: 48px;
  font-weight: 400; */
  width: 100px;
  border: 0;
  background-color: #002A3C;
  text-align: right;
  outline: 0;
}

.outputScreen input:first-child{
  font-size: 48px;
  color: #EBF2fA
}
.outputScreen input:last-child{
  font-size: 18px;
  color: #427AA1
}

.buttonContainer{
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.button{
  width: 45px;
  height: 45px;
  font-size: 18px;
}